@model List<Slider>
@{ 
    int order = 0;
}

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h4 class="card-title">Sliders</h4>
            <a asp-area="admin" asp-controller="slider" asp-action="create"
               class="btn waves-effect waves-light btn-success pull-right hidden-sm-down ">
                Create
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            Image
                        </th>
                        <th>
                            Title
                        </th>
                        <th>
                            Body
                        </th>
                        <th class="text-center">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var slider in Model)
                    {
                        <tr>
                            <td class="py-1">
                                @(++order)
                            </td>
                            <td>
                                <img src="~/uploads/slider/images/@slider.ImageUrl" alt="image" />
                            </td>
                            <td>
                                @slider.Title
                            </td>
                            <td>
                                @slider.Body
                            </td>
                            <td class="text-center">
                                <a asp-area="admin" asp-controller="slider" asp-action="edit" asp-route-id="@slider.Id"
                                   class="btn waves-effect waves-light btn-warning pull-right hidden-sm-down">
                                    Edit
                                </a>
                                <a asp-area="admin" asp-controller="slider" asp-action="details" asp-route-id="@slider.Id"
                                   class="btn waves-effect waves-light btn-primary pull-right hidden-sm-down">
                                    Details
                                </a>
                                <a asp-area="admin" asp-controller="slider" asp-action="delete" asp-route-id="@slider.Id"
                                   class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>